

<hr/>

{{if $.Site.Data.config.enableFooter}}
<div id="footer">

    <div class="prev-next-container">
      {{ with .PrevInSection }}
        <p>&lt;&lt; <a class="previous" href="{{ .Permalink }}"> {{ .Title }}</a></p>
      {{ end }}
      {{ with .NextInSection }}
        <p><a class="next" href="{{ .Permalink }}"> {{ .Title }}</a> &gt;&gt;</p>
      {{ end }}
    </div>

    <div class="page-end">
      <div class="backlinks-container">
          {{partial "backlinks.html" .}}

          <h3>Related pages</h3>
          {{ with .GetTerms "tags" }}
            {{ range . }}
              {{ $tag := .LinkTitle }}
              <h4>Tag: <a href="{{ .Permalink }}">{{ $tag | humanize }}</a></h4>
              <ul>
                {{ range (first 10 (index $.Site.Taxonomies.tags $tag)) }}
                  <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
                {{ end }}
              </ul>
            {{ end }}
          {{ end }}

      </div>
      <div>
          {{partial "graph.html" .}}

          {{partial "by-year.html" .}}
      </div>
    </div>
</div>
{{end}}

{{partial "contact.html" .}}
